<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.cafe.dao.CafeMapper">
	
	<sql id="cafeSearch">
		AND 
		<if test="keyword != '애견 동반' and keyword != '동반' and keyword != '애견동반'">
				(cafe_name LIKE '%' || #{keyword} || '%' OR
				cafe_addr1 LIKE '%' || #{keyword} || '%' OR
				cafe_addr2 LIKE '%' || #{keyword} || '%')
		</if>
		<if test="keyword == '애견 동반' or keyword == '동반' or keyword == '애견동반'">
			cafe_cate = 1
		</if>	
	</sql>
	
	<sql id="selectOption">
		<where>
		<if test="keyfield != null">
			<if test="keyfield == '서울특별시'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '부산광역시'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '대구광역시'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '인천광역시'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '광주광역시'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '대전광역시'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '울산광역시'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '세종특별자치시'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '경기도'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '강원도'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '충청북도'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '충청남도'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '전라북도'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '전라남도'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '경상북도'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '경상남도'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyfield == '제주특별자치도'">
				cafe_region = #{keyfield}
			</if>
			<if test="keyword != null and keyword != ''">
				<include refid="cafeSearch"></include>
			</if>
		</if>
		</where>
	</sql>


	<!-- 관리자 -->

	<select id="selectCafeCount" parameterType="map" resultType="integer">
		SELECT
		COUNT(*)
		FROM cafe
		<include refid="selectOption"></include>
	</select>	

	<select id="selectCafeList" parameterType="map" resultType="cafeVO">
	SELECT
	  *
	FROM (SELECT 
			a.*,
			rownum rnum
		  FROM (SELECT
		  		  *
		  		FROM cafe c LEFT OUTER JOIN cafe_detail d 
		  		ON c.cafe_num = d.cafe_num
		  		<include refid="selectOption"></include>
		  		ORDER BY c.cafe_name ASC)a)
	<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
	]]>
	</select>
	
	<!-- 관리자 -->
	
	
	<select id="selectCafeAdminCount" parameterType="map" resultType="integer">
		SELECT
		COUNT(*)
		FROM cafe_detail
		<include refid="selectOption"></include>
		WHERE cafe_status = 0
	</select>	

	<select id="selectCafeAdminList" parameterType="map" resultType="cafeVO">
	SELECT
	  *
	FROM (SELECT 
			a.*,
			rownum rnum
		  FROM (SELECT
		  		  *
		  		FROM cafe c LEFT OUTER JOIN cafe_detail d 
		  		ON c.cafe_num = d.cafe_num
		  		<include refid="selectOption"></include>
		  		WHERE d.cafe_status = 0 and d.cafe_status IS NOT NULL)a)
	<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
	]]>
	</select>
	
</mapper>
















