<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.hospital.dao.HospitalMapper">
	<sql id="whichCategories">
  		<if test="walk_num != null">
  			AND walk_num = ${walk_num}
  		</if>
  		<if test="hospital_num != null">
  			AND hospital_num = ${hospital_num}
  		</if>
  		<if test="cafe_num != null">
  			AND cafe_num = ${cafe_num}
  		</if>
  	</sql>
  	
  	<select id="selectBookmark" parameterType="BookmarkVO" resultType="Integer">
  		SELECT COUNT(*) FROM BOOKMARK_MAP WHERE mem_num =${mem_num} 
  		<include refid="whichCategories"></include>
  	</select>
  	
  	<delete id="deleteBookmark" parameterType="BookmarkVO">
  		DELETE FROM BOOKMARK_MAP WHERE mem_num=${mem_num}
  		<include refid="whichCategories"></include>
  	</delete>
  	
	
	<sql id="selectOption">
		<where>
		<if test="keyfield != null">
			<if test="keyfield == '서울특별시'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '부산광역시'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '대구광역시'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '인천광역시'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '광주광역시'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '대전광역시'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '울산광역시'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '세종특별자치시'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '경기도'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '강원도'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '충청북도'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '충청남도'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '전라북도'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '전라남도'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '경상북도'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '경상남도'">
				hospital_region = #{keyfield}
			</if>
			<if test="keyfield == '제주특별자치도'">
				hospital_region = #{keyfield}
			</if>
			<if test = "keyword != null and keyword != ''">
				<include refid="searchKeyword"></include>
			</if>
		</if>
		</where>
	</sql>
	
	<sql id = "searchKeyword">
		AND (h_name LIKE '%' || #{keyword} || '%' OR
		road LIKE '%' || #{keyword} || '%' OR
		h_address LIKE '%' || #{keyword} || '%'
		<if test = "keyword == '24시' or keyword == '24시병원' or keyword == '24시 병원'">
		 OR hospital_type = 1
		</if>
		)
	</sql>
	
	<select id="selectRegionListCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM hospital
		<include refid="selectOption"></include>
	</select>

	  	<select id="selectStoredHosList" parameterType="map" resultType="hospitalVO">
  		SELECT
  		   *
  		FROM (SELECT
  		        a.*,
  		        rownum rnum
  		      FROM (SELECT
  		              *
  		            FROM hospital h LEFT OUTER JOIN hospital_detail d 
  		            ON h.hospital_num = d.hospital_num
  		            <include refid="selectOption"></include> AND (d.h_info_auth = 1 OR d.h_info_auth is null)
  		            )a)                         
  		<![CDATA[
  		WHERE rnum >= #{start} AND rnum <= #{end}
  		]]>
  	</select>
</mapper>
















