@charset "UTF-8";

.align-center{
	text-align: center;
}

input[type="search"], input[type="submit"]{
  	vertical-align: middle;
}
select{
  vertical-align: middle;
}
.main-body{
	margin : 0 auto;
}

.place-list{
	overflow:auto;
}
.place-list li{
	height : 105px;
	padding : 15px 15px;
	box-shadow : 3px 6px 6px lightgray;
	border-radius : 10px;
    margin: 0 15px;
} 
.list-title a{
	font-size : 17px;
}
.list-content p{
	font-size : 15px;
	margin: 3px 0;
	overflow : hidden;
   	white-space:nowrap;
   	text-overflow : ellipsis;
}
.list-content p small{
	color : #888;
}
.list-item{
	margin: 10px 0px;
}

#pageDiv{
	margin : 10px 0;
}
#pageDiv b{
	color : white;
	background : #8cdcfc;
    padding: 5px 9px;
    border-radius: 3px;
    margin: 0 5px;
    font-size : 13px;
}
#pageDiv a{
	color : black;
	background : #f2f2f2;
    padding: 5px 9px;
    border-radius: 3px;	
    margin: 0 5px;
    font-size : 13px;
}
.index-bound{
	border-radius : 5px;
	background : #494949;
	color : white;
	padding : 2px 7px;
	font-weight : bold;
}

/* 테이블 */
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 370px;
  text-align: center;
}
th,
td {
  padding: 6px 6px;
}
th {
  background: #42444e;
  color: #fff;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}