@charset "UTF-8";

small{
	font-size : 12px;
	opacity : 0.8;
}
a{
	color : black;
}
#map{
	position : sticky;
	margin : 0 auto;
	top : 40px;
	z-index: 1000;
}

input[type="search"], input[type="submit"]{
  	vertical-align: middle;
}
select{
  vertical-align: middle;
}
.main-body{
	margin : 0 auto;
}

.inputWrap{
	height : 100%;
	padding : 5px 10px;
	border : 1px solid;
	border-radius : 5px;
	margin : 10px 15px;
}
#keyfield {
	float : left;
	height : 25px;
	border-radius : 5px;
	font-size : 16px;
	padding-top : 3px;
	border : none;
	background: none;
}
#keyword{
	width : 70%;
	height : 25px;
	border : none;
	padding-left: 10px;
}
#submitBtn{
	float : right;
	height : 25px;
	border : none;
	background : none;
	padding-top: 1px;
}

.place-list{
	overflow:auto;
}
.place-list li{
	height : 105px;
	padding : 15px 15px;
	border-bottom : 1px solid;
}

.place-bookmark{
	float : right;
	
}
.place-bookmark img{
	width : 30px;
	height : 30px;
}

.list-content p{
	margin: 3px 0;
	overflow : hidden;
   	white-space:nowrap;
   	text-overflow : ellipsis;
}
.cafe-addr1{
	font-size: 15px;
}

.cafe-addr2{
	margin: 0 auto;
}

.cafe-phone{
	font-size: 15px;
}

