@charset "UTF-8";

input[type="text"], input[type="password"]{
	padding : 10px 20px;
	border : none;
	border-radius : 20px;
	height : 10px;
	width : 170px;
	margin-bottom : 5px;
	box-shadow: inset -1px -1px 5px lightgray;
}
input[type="text"]::placeholder, input[type="password"]::placeholder{
	color : #cccccc;
	font-size : 10px;
}
#main_div{
	background : #faf5ef;
	width : 80vw;
	height : 100vw;
	margin : 0 auto;
	border-radius : 100px;
	display : table;
}
.wrap-cont{
	display: table-cell;
	vertical-align : middle;
}

#4orDog_title{
	width : 90vw;
}
#login_form ul li{
	width :80%;
	margin : 0 auto;
}
.login-btn{
	background : #feb69f;
	border : none;
	border-radius : 20px;
	width : 160px;
	height : 30px;
	color : white;
	margin-top : 10px;
	margin-bottom : 5px;
	font-weight : bold;
}
#kakao-login-btn{
	width :23px;
	position :relative;
	top : 7px;
	/* width : 172px;
	height : 30px;
	background : #feea3e;
	border : none;
	border-radius : 20px;
	font-size : 13px;
	color : white;
	font-weight : bold;
	margin-bottom : 10px; */
}
#message_id{
	margin-left: 17px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 11px;
    color:#fba082;
}