@charset "UTF-8";
*{
	margin : 0;
	padding : 0;
	text-decoration:none;
	list-style-type : none; 
}
@font-face {
    font-family: 'neon';
    src: url('../font/NanumSquareNeo-dEb.ttf') format('truetype');
}
#main_div {
	text-align : center;
}
#main_logo{
	width : 980px;
	height : 620px;
	margin-bottom : 100px;
}

.menu-grid{
	width : 900px;
	margin : 0 auto;
	display : grid;
	grid-template-columns : repeat(2,1fr);
	grid-template-rows : repeat(2, 1fr);
	row-gap : 100px;
	column-gap : 150px;
	margin-bottom : 5px;
}
.menu-list{
	border-radius : 20px;
	padding : 50px 0;
	background: #FDF7C6;
	font-size : 50px;
	font-family : neon;
	color : black;	
}
.menu-login{
	margin-top : 90px;
	font-family : neon;
	font-size : 30px;
}
.menu-login a{
	padding : 0 20px;
	color : black;
}
#main_header{
	width : 980px;
	height : 80px;
	background : #FDF7C6;
	margin : 0 auto;
}
#menu_homeBtn{
	padding-top : 5px;
	padding-left : 10px;
	width : 60px;
	
}
#menu_notiBtn{
	padding-top : 5px;
	padding-right : 10px;
	width : 60px;
}
