@charset "UTF-8";
*{
	margin : 0;
	padding : 0;
	text-decoration:none;
	list-style-type : none; 
}
/* 출처: https://sweet-myo.tistory.com/168 */
body{
    animation: fadein 1000ms ease-out;
    -moz-animation: fadein 1000ms ease-out; /* Firefox */
    -webkit-animation: fadein 1000ms ease-out; /* Safari and  Chrome */
    -o-animation: fadein 1000ms ease-out; /* Opera */
}
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}
/******************************************/
@font-face {
    font-family: 'neon';
    src: url('../font/NanumSquareNeo-dEb.ttf') format('truetype');
}
#main_div {
	text-align : center;
}
#main_logo{
	width : 360px;
	height : 200px;
	margin-bottom : 30px;
}

.menu-grid{
	width : 100vw;
	margin : 0 auto;
	display : grid;
	grid-template-columns : repeat(2,1fr);
	grid-template-rows : repeat(2, 1fr);
	row-gap : 20px;
	column-gap : 25px;
	margin-bottom : 5px;
}
.menu-list{
	border-radius : 40px;
	padding : 13px 0;
	background: #FDF7C6;
	font-size : 15px;
	font-family : neon;
	color : black;	
}
.menu-list:nth-child(1), .menu-list:nth-child(3){
	margin-left : 70px;
}
.menu-list:nth-child(2), .menu-list:nth-child(4){
	margin-right : 70px;
}
.menu-login{
	margin-top : 30px;
	font-family : neon;
	font-size : 13px;
}
.menu-login a{
	padding : 0 8px;
	color : darkgray;
}
#main_header{
	position : sticky;
	top : 0px;
	width : 100vw;
	height : 40px;
	background : #FDF7C6;
	margin : 0 auto;
	z-index: 1001;
}
#menu_homeBtn{
	padding-top : 5px;
	padding-left : 10px;
	width : 30px;
	
}
#menu_notiBtn{
	padding-top : 5px;
	padding-right : 10px;
	width : 30px;
}
