@charset "UTF-8";
input::placeholder{
	color : #cccccc;
	font-size : 10px;
}

#main_div{
	background : #faf5ef;
	width : 80vw;
	height : 100vw;
	margin : 30px auto;
	border-radius : 60px;
	display : table;
}
#main_div{
	text-align: left;
}
label {
	margin-left : 18px;
}
.wrap-cont{
	display: table-cell;
	vertical-align : middle;
}
.login-btn{
	background : #feb69f;
	border : none;
	border-radius : 20px;
	width : 95px;
	height : 30px;
	color : white;
	margin-bottom : 20px;
	margin-top : 10px;
}
.inputWrap{
	padding : 5px 5px;
	border : none;
	border-radius : 20px;
	margin : 0 auto ;
	margin-top : 5px;
	margin-bottom : 10px;
	width : 70vw;
	height : 30px;
	background : white;
}
.align-left{
	float : left;
	width : 45vw;
	height : 30px;
	border: none;
	background : none;
	padding-left: 10px;
}
.checkSome{
	float : right;
	height : 30px;
	border : none;
	background : white;
	font-size : 12px;
	font-weight :bold;
	color : #494949;
	margin: 0 10px;
}
#user_email{
	width : 25vw;
}

#confrimEmail{
	float : right;
	height : 30px;
	border : none;
	background : none;
	font-size : 12px;
	font-weight :bold;
	color : #494949;
}
#email_address{
	height : 30px;
	border : none;
	background : none;
}
#message_id{
	margin-bottom: 5px;
}
