@charset "UTF-8";
.scroll::-webkit-scrollbar {
  display: none;
}
hr{
	margin : 0 auto;
	border-top : 1px solid lightgray;
	width : 95%;	
}
.req-wrap{
	width : 100vw;
	text-align : center;
}
.req-wrap h3{
	margin : 10px 0;
}
.content-header{
	height : 40vw;
	padding : 40px 30px 25px;
	box-shadow : 0px 5px 5px lightgray;
	margin-bottom : 10px;
}
.select-section .hide{
	display:none;
}
.select-section li{
	padding : 20px 15px;
	cursor : pointer;
	text-align : left;
}
.select-section li:last-child{
	display : none;
}
.reqContWrap{
	text-align : center;
}
.formWrap{
	position : relative;
	margin-top : 15px;
}
.reqContWrap label{
	position: relative;
    display: block;
    font-weight: 600;
    padding: 10px 0;
	width :100%;
	border : 1px solid #e1e5e7;
	box-shadow : 0 1px 3px 0 rgba(0,0,0,.03);
	border-radius : 5px;
}
.input-textbox{
	position: relative;
	width : calc(100% - 20px);
	border : 1px solid #e1e5e7;
	box-shadow : 0 1px 3px 0 rgba(0,0,0,.03);
	border-radius : 5px;
	padding : 10px 10px;
	margin-bottom : 5px;
}
#input-textbox1{
	position: relative;
	width : calc(100% - 20px);
	border : 1px solid #e1e5e7;
	box-shadow : 0 1px 3px 0 rgba(0,0,0,.03);
	border-radius : 5px;
	padding : 10px 10px;
	margin-bottom : 5px;
}
#input-textbox2{
	position: relative;
	width : calc(100% - 20px);
	border : 1px solid #e1e5e7;
	box-shadow : 0 1px 3px 0 rgba(0,0,0,.03);
	border-radius : 5px;
	padding : 10px 10px;
	margin-bottom : 5px;
}
#map{
	margin : 0 auto;
	width : 90vw;
	height : 90vw;
	border : 1px solid gray;
	border-radius : 5px;
}
.submit-btn{
	margin-top : 20px;
	height: 40px;
    z-index: 500;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    cursor: auto;
}
.submit-btn button{
	border : none;
	width: 100%;
    font-size: 16px;
    font-weight: 700;
    opacity: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
}