@charset "UTF-8";

.location_con01 {
    padding: 10px 0;
}
.inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.sub_tit {
    text-align: center;
}
.footer-map{
	margin: 0 auto;
}
.extd{
	width:100px;
}

.loading{
	position: absolute;
  	top: 20%;
  	left: 40%;
    width:20vw;
    height:20vw;
    padding:0 auto;
    margin:0 auto;
    background-image:url('../images/loading.gif');
    background-size: cover;
    z-index:1000; /* 이 값으로 레이어의 위치를 조정합니다. */
}
.place-list{
	overflow:auto;
	position: relative;
}
.place-list li{
	height: 60px;
    padding: 15px 15px;
    box-shadow: 3px 6px 6px lightgray;
    border-radius: 10px;
    margin: 0 15px;
}
#map{
	 padding: 0;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    
    top: 20px;
    z-index: 1000;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.index{
	border-radius: 5px;
    background: #494949;
    color: white;
    padding: 2px 7px;
    font-weight: bold;
}