@charset "UTF-8";

.wea{
	
	position: relative;
}
.wea li{
	height: 200px;
	width: 400px;
    padding: 15px 15px;
    box-shadow: 3px 6px 6px lightgray;
    border-radius: 10px;
    margin: 0 15px;
    list-style:none;
}
#icon{
	width:150px;
	height:150px;
	float:left;
}
.r{
	float:right;
}
<!-- 오른쪽 float 후 왼쪽 정렬-->
.l{
	float:left;
}
#chk{
  font-size: 8px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}