@charset "UTF-8";

p{
	display : inline-block;
	font-size : 14px;
}
#cont_ul li:not(:last-child){
	text-align : left;
	display : flex;
	justify-content: space-between;
	margin : 10px 0;
	padding : 0 40px;
	align-items: center;
}
@font-face {
    font-family: 'neon';
    src: url('../font/NanumSquareNeo-dEb.ttf') format('truetype');
}

#form_wrap{
	text-align: center;
	margin-top: 5px;
}

#map{
	
	border : 1px solid gray;
	border-radius : 10px;
	margin : 0 auto;
	margin-top : 30px;
	margin-bottom : 20px;
}
.cafe_cate input[type=radio]{
    display: none;
}
#upload{
	width: 180px;
}
/* .cafe_cate input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 100px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
} */
.cafe_cate input[type=radio]+label{
    background-color: #fff;
    color: #9B9B9B;
}
.cafe_cate input[type=radio]:checked+label{
    background-color: #feb69f;
    color : white;
    
}
#cafe_cate0+label{
	display: inline-block;
	margin-right : -1px;
	margin-left : 10px;
	height: 24px;
    width: 105px;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
    border : 1px solid #333;
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
}
#cafe_cate1+label{
	display: inline-block;
	margin-left : -5px;
	height: 24px;
    width: 103px;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
    border : 1px solid #333;
    border-top-right-radius : 20px;
    border-bottom-right-radius : 20px;
}

input[type=text]{
	width: 190px;
	height: 35px;
	margin: 2px;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding : 0 10px;
}
/* li:has(input[type=hidden]){
	display : none;
} */
#cafe_content{
	margin-top: 5px;
	border-radius: 7px;
	border: 1px solid #ccc;
	resize: none;
	width: 220px;
	margin-right : 2px;
}

.error-color{
	color: #FF0000;
	position : absolute;
	left: 160px;
	font-size : 13px;
}

input[type=file]::file-selector-button {
 	background: #fff;
  	border: 1px solid #A2A2A2;
  	border-radius: 5px;
  	cursor: pointer;
  	margin-left: 17px;
	}
input[type=file]::file-selector-button:hover {
    background: #A2A2A2;
    color: #fff;
}

#regi_btn{
	background: white;
	width: 70px;
	height: 30px;
	border-radius: 20px;
	border: 2px solid #8cdcfc;
	margin-right : 5px;
	padding : 3px 3px;
	color :#8cdcfc;
	font-weight : bold;
}

#back_btn{
	background: #FFF;
	width: 70px;
	height: 30px;
	border-radius: 20px;
	border: 2px solid #9b9b9b;
	margin-left : 5px;
	padding : 3px 3px;
	color : #9b9b9b;
	font-weight : bold;
}


